# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/  # If you store user-uploaded media files locally and don't want them tracked
static_root/ # If you collect static files to a separate directory not meant for version control

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other common files to ignore
.coverage
.tox/
.eggs/